# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/src/
/src/app/
/src/assets/
/src/app/modules/
/src/app/app.js
/src/app/modules/(main-app)/
/src/app/modules/[directives]/
/src/app/modules/[services]/
/src/app/modules/auth/
/src/app/modules/cart/
/src/app/modules/community/
/src/app/modules/downtown/
/src/app/modules/help/
/src/app/modules/home/
/src/app/modules/modules.js
/src/app/modules/search/
/src/app/modules/setting/
/src/app/modules/signin/
/src/app/modules/templates/
/src/app/modules/user/
